# Configuration file for running the L1A-L1B processor

[main]
process = l1b
ckd_file_in = ../data/ckd/ckd.nc
binningtable_filename = ../data/ckd/binning_table.nc
[l1b]
geolocation = 0
l1a_files = ../data/l1a.nc
outputfile = ../data/l1b.nc
geometry_file = ../data/geometry.nc
dark_apply = 1
nonlin_apply = 1
prnu_apply = 1
rad_apply = 1
