# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints/

# all .files
.*~

teds/L1AL1B/tango_l1b/build/
teds/L1AL1B/tango_l1b/manual/*
teds/CKD/ckd_nitro.nc
teds/CKD/ckd_generation/ckd_carbon.nc
teds/CKD/ckd_generation/data_external/ckd_stray.nc
data

doc/_build
