# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Spyder project settings
.spyderproject
.spyproject

# vscode
.vscode

# Jupyter Notebook
.ipynb_checkpoints/

# all .files
.*~
cfg/nitro/im_config_temp.yaml
cfg/nitro/l1b_config_temp.yaml
teds/im/build/
teds/l1al1b/build/
teds/l1al1b/tango_l1b/manual/*
teds/ckd/ckd_generation/data_external/ckd_stray.nc
teds/ckd/ckd_nitro.nc
data

doc/_build

.coverage

# Setuptools
teds.egg-info
