numpy==1.26.4
netCDF4
PyYAML
matplotlib
tqdm
scipy
h5py
pyproj
shapely
geopandas
pystac_client==0.6.1
rioxarray
astropy
sgp4
numba
tables
threadpoolctl
Cartopy
openpyxl== 3.1.2
piccolo_theme==0.22.0
Glymur==0.13.2
flake8==7.1.1
