numpy
netCDF4
PyYAML
matplotlib
tqdm
scipy
h5py
pyproj
shapely
geopandas
pystac_client==0.6.1
rioxarray
astropy
sgp4
numba
tables
threadpoolctl
Cartopy
openpyxl== 3.1.2
piccolo_theme==0.22
Glymur==0.13.2
flake8==7.1.1
mypy==1.11.1
types-pyyaml==6.0.12
types-tqdm==4.66
types-requests
sphinx==7.3.7
piccolo_theme==0.22.0
pytest==8.3
coverage==7.6.1
