[main]
# Location of the CKD file
ckd_file_in = data/ckd.nc
# Location of SGM output (input spectra)
l1x_input = data/Tango_Carbon_sgm_radiance_S2_hom_atm_run0001.nc
# Location of binning table file
binningtable_filename = data/binning_table.nc
# Location of L1A product (output)
l1a_outputfile = data/l1a.nc
# Which NetCDF group to use from the binning table file. Here it is
# the same as the binning factor in ACT dimension.
binning_table_id = 3
# Exposure time in s
exposure_time = 0.066
# Number of coadditions applied to detector images. A higher number
# effectively enhances the dynamical range of the count values stored
# in an integer format.
nr_coadditions = 3
# The first ALT location to be included in processing (default 0)
image_start = 0
# The last ALT location to be included in processing (default all of
# them). For experimental purposes you may use a smaller number to
# save time.
image_end = 0
# Whether to apply dark offset and current (default true)
dark_apply = 1
# Whether to apply nonlinearity (default true)
nonlin_apply = 1
# Whether to apply stray light (default true)
stray_apply = 1
# Whether to apply PRNU (default true)
prnu_apply = 1
# Whether to apply radiometric calibration constants (default true)
rad_apply = 1
[isrf]
# Whether to convolve input spectra (execute = 1) with the ISRF. If
# not (execute = 0), the LBL are simply linearly interpolated onto the
# wavelength grids provided by the CKD.
execute = 1
# If doing the ISRF convolution, use this FWHM, in nm, for the Gaussian kernel
fwhm_gauss = 1.0
[noise]
# Whether to apply noise to the raw detector images
noise_apply = 1
# Seed for the random noise generator.
# seed = 100
[l1b]
